@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Add An Product";
}

@using (Html.BeginForm("Submit", "ProductCreate", FormMethod.Post))
{
    <h2 style="color: #3498DB; font-weight: bold;margin-bottom: 30px;">Create product</h2>
    <table>
        <tbody>
            <tr>
                <td>
                    <h4 style="font-style:normal; color: #3498DB; width: 180px;">Title</h4>
                </td>
                <td>
                    <input name="proName" style="width: 250px; height: 29px; font-size: 18px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="font-style:normal; color: #3498DB">Company</h4>
                </td>
                <td>
                    <select name="proCmp" style="width: 250px; height: 29px; font-size: 18px;">
                        <option value="">Select Company</option>
                        @{
                            using (var ProductDB = new FakeProductIden.Models.FakeProductIdenEntities())
                            {
                                var companies = ProductDB.Companies.ToList();
                                ViewBag.ListCompanies = companies;
                            };
                            foreach (var item in ViewBag.ListCompanies)
                            {
                                <option value="@item.cmp_id">@item.cmp_name</option>
                            };
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="font-style:normal; color: #3498DB; width: 180px;">Type</h4>
                </td>
                <td>
                    <select name="proType" style="width: 250px; height: 29px; font-size: 18px;">
                        <option value="">Select type</option>
                        @{
                            using (var ProductDB = new FakeProductIden.Models.FakeProductIdenEntities())
                            {
                                var _type = ProductDB.ProductTypes.ToList();
                                ViewBag.ListType = _type;
                            };
                            foreach (var item in ViewBag.ListType)
                            {
                                <option value="@item.ty_id">@item.ty_name</option>
                            };
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="font-style:normal; color: #3498DB; width: 180px;">Location</h4>
                </td>
                <td>
                    <input name="proOrigin" style="width: 250px; height: 29px; font-size: 18px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="font-style:normal; color: #3498DB; width: 180px;">Price (VNĐ)</h4>
                </td>
                <td>
                    <input name="proPrice" type="number" style="width: 250px; height: 29px; font-size: 18px;" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button style="height: 30px; width: 90px; background-color: #3498DB; color: #fff; border-width: 0px; border-radius: 2px; font-weight: bold;margin-top: 20px;" type="submit">Create</button>
                </td>
            </tr>
        </tbody>
    </table>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript" charset="utf-8">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}  